body {
  background-color: lightgray;
  text-align: center;
  line-height: 1.0;
}

#main {
  
}

#title {
  
}

#img-div {
  display: inline-block;
  background-color: white;
  color: black;
  line-height: 1.5;
  padding-top: 13px;
  width: 730px;
}

#img-caption {
  margin-left: 5%;
  margin-right: 5%;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
  margin: auto;
  object-fit: contain;
}

#tribute-info {
  text-align: left;
  line-height: 1.5;
  position: relative;
  left: 100px;
}

#tribute-link {
  
}
