body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: #333;
}

#main {
  background: lightgray;
  margin: 10px;
  border-radius: 10px;
  font-size: 28px;
}

#title {
  display: block;
  font-size: 48px;
  padding-top: 40px;
  font-weight: bold;
}

#subtitle {
  font-size: 36px;
  padding: 20px;
}

#img-div {
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  padding: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} 

#img-caption {
  font-size: 24px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

#tribute-info ul, h3 {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

li {
  padding-bottom: 10px;
}

p {
  display: inline;
  font-style: italic;
}

h2 {
  font-size: 26px;
  padding-bottom: 20px;
}
